services:
  postgres:
    image: postgres:16
    container_name: nubrio_postgres
    restart: unless-stopped
    ports:
      - "5432:5432"
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U nubrio_user -d nubrio" ]
      interval: 5s
      timeout: 3s
      retries: 20
      
  pgadmin:
    image: dpage/pgadmin4
    container_name: nubrio_pgAdmin
    restart: unless-stopped
    ports:
      - "5050:80"
    env_file:
      - .env
    depends_on:
      - postgres
    volumes:
      - pgadmin_data:/var/lib/pgadmin
        
        
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nubrio-api
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      ASPNETCORE_ENVIRONMENT: Staging
      ConnectionStrings__NubrioDb: Host=postgres;Port=5432;Database=${POSTGRES_DB};Username=${POSTGRES_USER};Password=${POSTGRES_PASSWORD}
    ports:
      - "8080:8080"
        
volumes:
  postgres_data:
  pgadmin_data: