services:
  postgres:
    image: postgres:16
    container_name: nubrio_postgres
    restart: unless-stopped
    ports:
      - "5432:5432"
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
      
  pgAdmin:
    image: dpage/pgadmin4
    container_name: nubrio_pgAdmin
    restart: unless-stopped
    ports:
      - "8080:80"
    env_file:
      - .env
    depends_on:
      - postgres
    volumes:
      - pgadmin_data:/var/lib/pgadmin
        
volumes:
  postgres_data:
  pgadmin_data: